/* Home */

*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

header{
    background-color: #fff159;
    padding: 20px 10px;
}

header .header-top{
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 120px;
}

header .logo{
    width: 15%;
    padding: 10px;
    float: left;
    margin-bottom:10px;
}

header .lupa{
    padding: 15px;
    float: left;
    text-align: center;
}

header .lupa ul{
    column-count: 5;
    column-gap: 10px;
    padding:10px;
    font-weight: lighter;
}

header .mano{
    float: right;
    padding: 15px;
    font-size: 16px;
}

header .fa-hand-holding-usd {
    padding: 15px;
}

header .fa-id-card {
    padding: 2px;
}

header .fa-sign-in-alt {
    padding: 2px;
}

header .fa-shopping-basket {
    padding: 2px;
}

header nav{
    font-size: 15px;
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    float: bottom;
    padding: 10px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

section.banner img{
    width: 100%;
    margin-top: -20px;
}



body{
    font-family: 'Lato', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
    margin-top: 20px;
}

h4,
.description{
    display:none;
}


main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    transition: all 0.5s
}

main section article:hover .description{
    display:block
}

main section article img{
    width: 80%;
}

main section article:hover {
    box-shadow: 0 0 50px grey;
}


main section article i,
.discount{
    color: #39b54a;
    
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section article:hover i{
    transform: rotate(-90deg);
}


main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

@media (min-width: 480px){
      

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}

/* Login */

text-login {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    background-color: #0c0c0c;
    padding: 5%;
    text-align: center;
}